*{
	margin :0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	scroll-behavior: smooth;
    
}
body{
    background: linear-gradient(to bottom right,#22B573, #29ABE2);
    background-size:auto ;
    background-repeat: no-repeat;
    min-height: 80vh;

}
.scen{
    margin-top:150px ;
}
.container-fluid{
    margin-top: 3%;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: white;
}
    .calmos{
        width: 100%;

    }
.aa{
margin-bottom:20px;}
.ba{
    background-color:white;
    color: #20c997; ;
}
.logo{
    color: #20c997;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo2{
    color: #20c997;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo2 span{
    color: #20c997;
}
.logo span{
    color: #20c997;
}.ml{width:150px;}
.navbar{
    display: flex;
    position: center;
}
.navbar li{
    list-style: none;
    
}
.jj{
    background: white;
    color:#20c997;
    padding: 0 0;
    text-decoration: none;
    padding:5%;
    font-weight: bold;
    font-size: 125%;
}
.jj:hover{
    background: black;
    color:white;
}
.clik{
    margin-right: -38%;
    margin-left: -50%;
    }
.siz{
    font-size: 135%;
    }

.m{
    color: #20c997;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.m2{
    color: #20c997;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.ba{
margin-top:30 px;}

.Jouer{
    color:white;
    padding: 10px 20px;
    margin-left:20px;
    position:center;
    background: #20c997;
    font-weight: 700;
    text-transform:none ;
    text-decoration: none;
    
}

.Jouer:hover{
    background: black;
    transition: ease-out;
    color: #20c997;
    
}

header .navbar li a:hover{
    color: black;
    
}



header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

.logo2:hover{
    color: black;
}
.logo:hover{
    color: black;
}

@media (max-width: 991px) {
    header,
    header.sticky{
        padding: 10px 20px;
    }
.mas{margin-top:150px;}
    header .navbar li{
        margin-left: 0;
    }



    header .navbar li a {
        text-decoration: none;
        color: #20c997;
        font-size: 1.6em;
        font-weight: 300;
        
    }
.jj{
        background: white;
        color:#20c997;
        padding: 0 0;
    }

    .mas{font-size:200%;}
.scen{
    margin-top:200px ;
}
    .navbar{
        display: none;
    }
    section{
        padding: 20px;
    }

    header .navbar.active{
        width: 100%;
        
        position: fixed;
        top: 68px;
        left:0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: white;
        align-items: center;
        
    }
    
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(./images/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }

    .menuToggle.active
    {
        background-image: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }




}
/*****************************************************************************/
@media (max-width: 991px) {
    .ba,
     .ba.sticky{
        padding: 10px 20px;
    }
.post{ margin-top:200px;}
    .ba .navbar li{
        margin-left: 0;
    }

    .ba .navbar li a {
        text-decoration: none;
        color: whie;
        font-size: 1.6em;
        font-weight: 300;

    }


    .navbar{
        display: none;
    }
    section{
        padding: 20px;
    }

    .ba .navbar.active{
        width: 100%;

        position: fixed;
        top: 68px;
        left:0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #9999ff;
        align-items: center;

    }

    
    .menuToggle2{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(./images/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }

    .menuToggle2.active
    {
        background-image: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        
    }

    .ba.sticky .menuToggle2{
        filter: invert(1);
    }




}
.bas{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    align-items: center;
}


.titr{
    font-weight: bold;
    font-family: "OCR A Std", monospace;
    color:#20c997;
   
}

.haut .but{
    z-index: 0;
    position: absolute;
    text-align: center;
    color:white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 1;
}
/*@media (orientation: landscape) {
    .titr {
        font-size:25px;
    }
    
}*/
.row{
    text-align: center;
    align-items: center;
}
.mas{
    margin-top:350px;
    color:white;
    font-weight:bold;
    font-size:200%;
    font-family: "Courier", Times, serif;
    
}
.first{
    margin-top:150px;
}
.las{
    margin-top:100px;
    font-family: "Courier", Times, serif;
    
    
}
.raptissir{
    width: 200px;
    
}
.ju {
    text-align: center;
    align-items: center;
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 700;
}
.ju:hover{
    color: black;
}
.red {
    margin-top: 2%;
    text-align: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    
}
.po{
    width: 150px;
}
.L{
    margin-top:20px;
}
.discord{
    width: 5px;
    
}

.rs{
    background-color: black;
}


.haut{
	width:100%;
    margin-bottom: 5%;
}
#button{
	z-index: 1;
}
#video{
	z-index:-1;
	
}
.haut{
	display:inline-block;
	position: relative;
        margin-top:100px ;
}
.button {
	padding-top: 10%;
	
}
@media (max-width: 768px) {.button{
    display:none;
}
    
}
@media (max-width: 768px) {.textee{
    display:none;
}

}
.pop{
    background-color: #20c997;
    font-family: "Courier", Times, serif;
}
/*colorion*/
.btn {
	
	background-color: white;
	font-size: 150%;
   width: 18%;
   margin-right: 41%;
   margin-left: 41%;
   text-align: center;
   transition: 0.5s;
   background-size: 70% auto;
   color: #20c997;
   border-radius: 10px;
   display: block;
	text-decoration: none;
}
.btn:hover{
   background-position: right center ; 
   color: #20c997;
   
}


.haut .but .titr {
	font-size: 800%;
	margin-top: -15%;
}
@media(orientation:portrait) { .haut .but .titr {
    font-size:200%;
    
    
}
}



    






	
	



				